# vscode settings
.vscode

# Julia Pkg files
Manifest.toml

# data files 
*.fasta
*.docx
*.pdf

reactions-model.csv
metabolites-model.csv
vnat.json
followup.txt
vnat_fluxes.json
quantitative_proteome.csv
